In [2]:
import turicreate

In [3]:
song_data = turicreate.SFrame('song_data.sframe/')

# Counting unique users:

The method .unique() can be used to select the unique elements in a column of data. In this question, you will compute the number of unique users who have listened to songs by various artists. For example, to find out the number of unique users who listened to songs by 'Kanye West', all you need to do is select the rows of the song data where the artist is 'Kanye West', and then count the number of unique entries in the ‘user_id’ column. Compute the number of unique users for each of these artists: 'Kanye West', 'Foo Fighters', 'Taylor Swift' and 'Lady GaGa'. Save these results to answer the quiz at the end.

In [20]:
Kayne = song_data['user_id'][song_data['artist'] == 'Kanye West'].unique()
foo   = song_data['user_id'][song_data['artist'] == 'Foo Fighters'].unique()
taylor= song_data['user_id'][song_data['artist'] == 'Taylor Swift'].unique()
gaga  = song_data['user_id'][song_data['artist'] == 'Lady GaGa'].unique()

In [21]:
Respuesta = [Kayne.shape,foo.shape,taylor.shape,gaga.shape]
Respuesta

[(2522,), (2055,), (3246,), (2928,)]

# Using groupby-aggregate to find the most popular and least popular artist:
Each row of song_data contains the number of times a user listened to particular song by a particular artist. If we would like to know how many times any song by 'Kanye West' was listened to, we need to select all the rows where ‘artist’=='Kanye West' and sum the ‘listen_count’ column. If we would like to find the most popular artist, we would need to follow this procedure for each artist, which would be very slow. Instead, you will learn about a very important method:

In [29]:
popular = song_data.groupby('artist', operations={'total_count': turicreate.aggregate.SUM('listen_count')})
popular.head()

Columns:
	artist	str
	total_count	int

Rows: 10

Data:
+-------------------------------+-------------+
|             artist            | total_count |
+-------------------------------+-------------+
|           The Dells           |     274     |
|  Lil Jon / The East Side Boyz |     197     |
| Tom Petty And The Heartbre... |     2867    |
|          Blackstreet          |     747     |
|            Ratatat            |     3727    |
|             Shotta            |      82     |
|            Airscape           |     130     |
|             Mecano            |     172     |
| Moimir Papalescu & The Nih... |     177     |
|          Brad Paisley         |     2731    |
+-------------------------------+-------------+
[10 rows x 2 columns]

In [32]:
popular = popular.sort('total_count',ascending=False)

In [35]:
popular[0]

{'artist': 'Kings Of Leon', 'total_count': 43218}

In [36]:
popular[-1]

{'artist': 'William Tabbert', 'total_count': 14}